@charset "ISO-8859-1";
body {
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    overflow-x: hidden;
    background-color: #eaf0f2;
    background-image: url("../pics/appointment_back.jpg"); 
    

}


.button {
    background-color: #3498DB;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
div.middle {
      position: relative;
      left: 300px;
      line-height: 1.8;
      top: 100px;
      }
